---
import ImageListWrapper from '../components/ImageListWrapper.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';
import { getMedia, Resources } from '../utils/cloudinary';
import { checkLogin, getChild, getChildren } from '../utils/db';
const cookies = Astro.request.headers.get('cookie');

console.time('checkLogin');
const authorizable = await checkLogin(cookies);
console.timeEnd('checkLogin');
console.time('getChildren');
const children = await getChildren(authorizable);
console.timeEnd('getChildren');

if (!authorizable.loggedIn || !children.length) {
  return Astro.redirect('/welcome');
}

console.time('getChild');
const child = await getChild(children[0]);
console.timeEnd('getChild');

console.time('getMedia');
let images: Resources[] = [];
let nextCursor = null;
if (children.length > 0) {
  const { resources, nextCursor: cursor } = await getMedia(
    `${import.meta.env.CLOUDINARY_FOLDER}/${children[0]}`,
    10
  );
  images = resources;
  nextCursor = cursor;
}
console.timeEnd('getMedia');

// const obj = [
// 	{ date: '2022-02-14', name: 'john' },
// 	{ date: '2022-02-14', name: 'bob' },
// ];
// console.log(groupBy(obj, 'date'));
---

<Layout title="Welcome to your favorite place to view your pictures">
  <main data-child-name={child?.firstName}>
    <Profile child={children[0]} />
    <ImageListWrapper
      images={images}
      child={children[0]}
      nextCursor={nextCursor}
    />
  </main>
</Layout>
