---
import Layout from "../layouts/Layout.astro";
import { getMedia, Resources } from "../utils/cloudinary";
import { checkLogin, getChildren, getLoginToken, getUser, isLoggedIn } from "../utils/db";
const cookies = Astro.request.headers.get('cookie');

// const loggedIn = await isLoggedIn(familyShareAccessToken);
const authorizable = await checkLogin(cookies);
if (!authorizable.loggedIn) {
	return Astro.redirect('/welcome');
}
// const children = await getChildren(familyShareAccessToken);
// const user = await getUser(authorizable);
const children = await getChildren(authorizable);

let images: Resources[] = [];
if (children.length > 0) {
	images = await getMedia(`${import.meta.env.CLOUDINARY_FOLDER}/${children[0]}`);
}
---

<Layout title="Welcome to your favorite place to view your pictures">
	<div class="">
		<header class='text-center'>
			<h1>Welcome to your favorite place to view pictures of your beloved ones</h1>
			{authorizable.access === 'guest' ? <p>
				You are using guest mode
			</p> : null}
		</header>
		<main>
			<!-- <ul>
				{children.map(child => (
				<li>
					<a href={`${child.hash}`}>{child.name}</a>
				</li>
				))}
			</ul> -->
			{images.map(image => (
			<div class="image-container">
				<img src={image.url} />
			</div>
			))}
		</main>
	</div>
</Layout>