---
import ImageList from "../components/ImageList.astro";
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import { getImage, getMedia, Resources } from "../utils/cloudinary";
import { checkLogin, getChild, getChildren } from "../utils/db";
import { groupBy } from "../utils/utils";
const cookies = Astro.request.headers.get('cookie');

const authorizable = await checkLogin(cookies);
if (!authorizable.loggedIn) {
	return Astro.redirect('/welcome');
}

const children = await getChildren(authorizable);
const child = await getChild(children[0]);

let images: Resources[] = [];
if (children.length > 0) {
	images = await getMedia(`${import.meta.env.CLOUDINARY_FOLDER}/${children[0]}`);
}

const obj = [
	{ date: '2022-02-14', name: 'john' },
	{ date: '2022-02-14', name: 'bob' },
];
console.log(groupBy(obj, 'date'));
---

<Layout title="Welcome to your favorite place to view your pictures">
	<main data-child-name={child?.firstName}>
		<Profile child={children[0]} />
		<ImageList images={images} child={children[0]} />
	</main>
</Layout>